<%- include("header.ejs") %>


<% for (const post of posts) { %>
    <div class="row">
        <div class="col s12 m6">
          <div class="card white posty">
            <div class="card-content black-text">
              <span class="card-title"><%-post.title%></span>
              <p><%-post.content%></p>
            </div>
            <div class="card-action posty">
              <a class="black-text">Napisane przez <%-post.author%></a>
              <a class="right black-text"><%-post.id%></a>
            </div>
          </div>
        </div>
      </div>
<%}%>
<%- include("footer.ejs") %>